@import '../../lib/lib-variables.scss';

// 玩法说明
.pop-body-game-rule
{
    font-size: 26px;
    line-height: 1.5;

    position: fixed;
    z-index: -($zIndex-1);
    top: 50%;
    left: 50%;

    width: 681px;
    height: 864px;
    padding: 130px 90px 95px ;

    transform: translate(-50%, -50%);

    opacity: 0;
    color: #9a4b1e;
    background: url('../../img/pop/rule/rule-bg.png') no-repeat center;
    background-size: 681px;

    .rule-wrp
    {
        overflow: auto;

        width: 100%;
        height: 605px;

        ol
        {
            margin-left: 40px;

            list-style-position: outside;
            list-style-type: decimal;
            li
            {
                margin-bottom: 20px;
                padding-left: 10px;

                list-style-type: decimal;
            }
        }
    }

    .close-btn
    {
        font-family: 'REDOCN';
        font-size: 42px;
        line-height: 73px;

        position: absolute;
        bottom: -5px;
        left: 50%;

        width: 216px;
        height: 73px;

        transform: translateX(-50%);
        text-align: center;

        color: #b25308;
        background: url('../../img/pop/rule/rule-btn.png') no-repeat center;
        background-size: 216px;
    }
}

.pop-show.pop-game-rule
{
    .pop-mask
    {
        z-index: $zIndex-3;
    }
    .pop-body-game-rule
    {
        z-index: $zIndex-4;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
        animation: slideIntoMiddle .5s ease-in-out;

        opacity: 1;
    }
}
