@import '../../lib/lib-variables.scss';

// 任务弹窗
.pop-show.pop-task
{
    .pop-mask
    {
        z-index: $zIndex-5;
    }
    .pop-task-content
    {
        z-index: $zIndex-6;

        transform: translate3d(-50%,-50%,0);
        .light-animate
        {
            animation: lightShine .7s ease 10;
        }
    }
}
.pop-task
{
    .pop-task-content
    {
        font-family: '微软雅黑', 'Arial', 'MicrosoftYaHei','Heiti SC','Helvetica','Droidsansfallback';
        line-height: 1;

        position: absolute;
        top: 50%;
        left: 50%;

        overflow: auto;

        width: 683px;
        min-height: 496px;
        max-height: 850px;

        transition: .3s transform ease;
        transform: translate3d(-50%,-2000px,0);
        text-align: center;

        border: 70px solid transparent;
        border-image-source: url('../../img/pop/task/bg.png') ;
        border-image-slice: 65 35 50 35 fill;
        border-image-width: 65px 35px 50px 35px;
        .title
        {
            font-size: 42px;

            position: absolute;
            top: -60px;

            width: 100%;

            text-align: center;

            color: #fedb6e;
            text-shadow: #8d3000 3px 0 0,#8d3000 0 3px 0,#8d3000 -3px 0 0,#8d3000 0 -3px 0;

            img
            {
                width: 175px;
            }
        }
        .list-ul
        {
            width: 100%;

            .lottery-num
            {
                font-size: 24px;
                font-weight: bolder;
                line-height: 36px;

                position: absolute;
                top: -20px;
                right: 0;

                display: block;

                width: 43px;
                height: 43px;

                text-align: center;

                color: #772c03;
                border: 2px solid #772c03;
                border-radius: 50%;
                background: #f0af2a;
            }
            .list-item
            {
                display: flex;
                flex-direction: row;

                width: 100%;
                height: 110px;
                margin-bottom: 11px;
                padding: 0 10px;

                border-radius: 16px;
                background: rgba(#c3b07e,.5);

                align-items: center;
                .item-l
                {
                    width: 83px;
                    .icon-box
                    {
                        position: relative;

                        display: flex;

                        width: 72px;
                        height: 72px;

                        border: 4px solid #772c03;
                        border-radius: 8px;
                        background: #7e6c5b;

                        justify-content: center;
                        align-items: center;

                        .img-task
                        {
                            position: relative;
                            z-index: 2;
                            img
                            {
                                width: 64px;
                                height: 64;
                            }
                        }
                        .img-light
                        {
                            position: absolute;
                            z-index: 1;
                            top: 0;
                            left: 0;

                            width: 72px;
                            height: 72px;

                            transform: scale(0,0);

                            opacity: 0;
                            background: url('../../img/pop/task/task-light.png');
                            background-size: 72px;
                        }
                    }
                }
                .item-m
                {
                    padding: 0 8px;

                    text-align: left;

                    flex: auto;
                    .item-main-title
                    {
                        font-size: 28px;
                        font-weight: bold;

                        margin-bottom: 12px;

                        color: #a86835;

                        .side{
                            font-weight: normal;
                            font-size: 20px;
                        }
                    }
                    .item-intro
                    {
                        font-size: 20px;

                        color: #a86835;
                    }
                }
                .item-r
                {
                    position: relative;

                    width: 160px;
                    .item-btn
                    {
                        font-size: 24px;
                        line-height: 57px;

                        width: 156px;
                        height: 57px;

                        text-align: center;

                        color: #772c03;
                        background: url('../../img/pop/task/task-btn.png');
                        background-size: 156px;
                    }
                    &.disable
                    {
                        .item-btn
                        {
                            color: #666;
                            background-image: url('../../img/pop/task/task-btn-disable.png');
                        }
                    }
                    &.done
                    {
                        .item-btn
                        {
                            width: 136px;
                            height: 113px;
                            margin: 0 auto;

                            background: url('../../img/pop/task/task-done.png');
                            background-size: 136px;
                        }
                    }
                }
            }
        }
    }
}

@keyframes lightShine
{
    from
    {
        transform: scale(1.25,1.25);

        opacity: 1;
    }
    to
    {
        transform: scale(.2,.2);

        opacity: .5;
    }
}
