@import '../lib/lib-variables';

@keyframes productPanelfadeIn
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

.fadeIn
{
    animation: productPanelfadeIn ease-in .2s;

    animation-fill-mode: forwards;
}

.homepage
{
    width: 100%;
    min-height: 100%;
    padding-bottom: 40px;

    background-color: #e8e8e8;

    flex: 1;
    /*banner*/
    .banner-wrapper
    {
        height: 306px;
        padding-top: 12px;

        background-image: url('../../img/market/home/bg-swiper.png');
        background-size: 100% 100%;
        .inner-wrapper
        {
            position: relative;
            z-index: $zIndex-2;

            display: block;
            overflow: hidden;

            width: 726px;
            height: 250px;
            margin: 0 auto;

            border-radius: 14px 14px 0 0;
        }
        .banner-img
        {
            width: 100%;
            height: 250px;
        }
        .banner-link
        {
            display: inline-block;

            width: 100%;
            height: 2.5rem;
        }
        .page-index-con
        {
            line-height: 39px;

            height: 39px;

            text-align: center;
            .dec
            {
                display: inline-block;

                width: 20px;
                height: 20px;
                margin-right: 25px;

                background-size: 100%;
                &:nth-last-of-type(1)
                {
                    margin-right: 0;
                }
            }
            .on
            {
                background-image: url('../../img/market/home/icon-swiper-on.png');
            }
            .off
            {
                background-image: url('../../img/market/home/icon-swiper-off.png');
            }
        }
    }


    /*nav*/
    .nav-wrapper
    {
        position: relative;
        z-index: $zIndex-2;

        height: 144px;
        .nav-ul
        {
            display: flex;

            height: 144px;

            align-items: center;
            li
            {
                flex: 1;
            }
        }
        .spe
        {
            position: relative;

            height: 90px;

            border-right: 1px solid #5c2d00;
            border-left: 1px solid #bb6528;
        }
        .spe-left
        {
            border-left: none;
        }
        .spe-right
        {
            border-right: none;
        }
        .con
        {
            position: absolute;
            top: -12px;

            display: block;

            width: 100%;

            text-align: center;
        }
        .icon
        {
            display: block;

            width: 75px;
            height: 75px;
            margin: 0 auto;

            background-size: 100% 100%;
        }
        .icon-credits
        {
            background-image: url('../../img/market/home/icon-nav-01.png');
        }
        .icon-record
        {
            background-image: url('../../img/market/home/icon-nav-02.png');
        }
        .icon-rules
        {
            position: absolute;
            z-index: $zIndex-1;
            top: 0;
            left: 50%;

            transform: translate(-50%, 0);

            background-image: url('../../img/market/home/icon-nav-03.png');
        }
        .user-con
        {
            position: relative;

            padding-top: 88px;
            .user-pic-con
            {
                position: absolute;
                z-index: $zIndex-1;
                top: 0;
                left: 50%;

                display: block;

                width: 62px;
                height: 62px;

                transform: translate(-50%, 3px);

                border-radius: 10px;
            }
            .user-pic
            {
                width: 100%;
                height: 100%;

                border-radius: 8px;
            }
        }
        .article
        {
            font-size: 28px;

            color: #fff;
        }
        .score-left
        {
            color: #ffe01c;
        }
        .apostrophe
        {
            display: block;

            width: 68px;
            height: 18px;
            margin: 0 auto ;

            background-image: url('../../img/market/home/icon-nav-04.png');
            background-size: 100%;
        }
        .nav-pop-panel
        {
            position: absolute;
            z-index: $zIndex-2;
            top: 88px;
            right: 30px;

            overflow: hidden;

            width: 191px;
            height: 145px;
            padding: 9px 4px 10px;

            text-align: center;
            white-space: nowrap;

            background-image: url('../../img/market/home/bg-panel-04.png');
            background-size: 100%;
            .nav-panel-link
            {
                font-size: 24px;
                line-height: 59px;

                display: block;

                height: 59px;
                margin: 0 auto;

                color: #c2885a;
                .nav-inner-con
                {
                    display: block;

                    width: 112px;
                    margin: 0 auto;

                    border-top: 1px solid #55240a;
                    border-bottom: 1px solid #925a29;
                }
                &:nth-of-type(1) .nav-inner-con
                {
                    border-top: none;
                }
                &:nth-last-of-type(1) .nav-inner-con
                {
                    border-bottom: none;
                }
            }
        }
    }

    /*----QQqun----*/
    .QQqun-wrapper
    {
        padding: 5px 0 19px 0;
        .QQqun-panel
        {
            position: relative;
            z-index: $zIndex-1;

            overflow: hidden;

            width: 722px;
            height: 100px;
            margin: 0 auto;

            user-select: none;
            text-align: center;

            border: 3px solid #9e5c28;
            border-radius: 14px;
            background: url('../../img/market/home/QQqun-panel-bg.jpg') repeat-y;
            background-size: 100% auto;
            box-shadow: 0 0 25px 2px rgba(59, 31, 9, .77);
        }
        .QQqun-remark
        {
            font-size: 26px;

            position: absolute;
            z-index: $zIndex-1;

            width: 100%;

            color: #fffbe0;
        }
        .QQqun-remark-top
        {
            top: 10px;
            left: 50%;

            transform: translate(-50%,0);
        }
        .QQqun-remark-bottom
        {
            top: 50px;

            width: 50%;

            text-align: right;
        }
        .QQqun
        {
            font-size: .26rem;

            user-select: text!important;

            color: #f3af00;
        }
        .ab
        {
            position: absolute;
            z-index: $zIndex-1;

            display: block;

            width: 100%;
            height: 100%;
            padding-top: .5rem;
            padding-left: 50%;

            text-align: left;
        }
    }

    .marquee-wrapper
    {
        font-size: 28px;
        line-height: 52px;

        display: flex;
        overflow: hidden;
        /*----marquee----*/

        width: 100%;
        height: 52px;
        padding: 0 20px;

        color: #fff6e5;
        background: #562811;

        align-items: center;
        .left
        {
            width: 180px;
        }
        .right
        {
            flex: 1;
            .award
            {
                display: flex;

                align-items: center;
            }
            span
            {
                vertical-align: middle;
                &:nth-last-of-type(1)
                {
                    overflow: hidden;

                    margin-right: 0;

                    white-space: nowrap;
                    text-overflow: ellipsis;

                    flex: 1;
                }
                &.mgr
                {
                    margin-right: 18px;
                }
            }
        }
        .icon-trumpet
        {
            display: inline-block;

            width: 27px;
            height: 26px;
            margin-right: 19px;

            background-image: url('../../img/market/home/icon-marquee.png');
            background-size: 100% 100%;
        }
        .title
        {
            color: #f69c5d;
        }
    }



    /*productPanel*/
    .product-wrapper
    {
        opacity: 0;
        .title
        {
            padding: 15px 0 5px 25px;
            .art
            {
                font-size: 34px;
                font-weight: 700;

                vertical-align: middle;

                color: #fac75a;
                text-shadow: #4e2813 4px 0 3px, #4e2813 4px 4px 3px;
            }
            .icon
            {
                display: inline-block;

                margin-right: 8px;

                vertical-align: middle;

                background-size: 100%;
            }
            .icon-hot
            {
                width: 38px;
                height: 40px;

                background-image: url('../../img/market/home/icon-title-01.png');
            }
            .icon-more
            {
                width: 41px;
                height: 39px;

                background-image: url('../../img/market/home/icon-title-02.png');
            }
        }
    }

    .product-single-wrapper
    {
        width: 690px;
        margin: 8px auto 0;
        padding: 18px 0;

        border: 3px solid #9f5d26;
        border-radius: 23px;
        background: transparent url('../../img/market/home/bg-panel-repeat-01.png') repeat center center;
        box-shadow: 0 0 20px 5px #3b1f09;
        .product-list
        {
            width: 638px;
            margin: 0 auto;
            .product-li
            {
                position: relative;

                display: inline-block;

                width: 306px;
                height: 380px;

                text-align: center;

                border: 2px solid #7f4305;
                border-radius: 12px;
                background-color: #4f2814;
                background-size: 100%;
                &:nth-child(even)
                {
                    margin-left: 23px;
                }
                &:nth-child(n+3)
                {
                    margin-top: 15px;
                }
                &:before
                {
                    position: absolute;
                    z-index: $zIndex-1;
                    top: 10px;
                    left: 0;

                    width: 302px;
                    height: 12px;

                    content: '';

                    background-image: url('../../img/market/home/dec-04.png');
                    background-size: 100% 100%;
                }
                &:after
                {
                    position: absolute;
                    z-index: $zIndex-1;
                    bottom: 10px;
                    left: 0;

                    width: 302px;
                    height: 12px;

                    content: '';

                    background-image: url('../../img/market/home/dec-04.png');
                    background-size: 100% 100%;
                }
            }
            .product-con
            {
                position: relative;
                z-index: $zIndex-1;

                width: 100%;
                height: 100%;
                padding-top: 18px;
            }
            .soldOutMask
            {
                position: absolute;
                top: 0;
                left: 0;

                width: 100%;
                height: 100%;

                border-radius: 12px;
                background-color: rgba(0,0,0,.6);
                .stockIsOutTips
                {
                    font-size: 18px;

                    padding: 20px 18px 0;

                    text-align: left;

                    color: #fff;
                }
                .isOut-p1
                {
                    line-height: 1.8;
                }
                .isOut-p2
                {
                    line-height: 1.4;
                }
                .stamp
                {
                    position: absolute;
                    right: 20px;
                    bottom: 20px;

                    width: 136px;
                    height: 114px;

                    background-image: url('../../img/market/home/sold-out-stamp.png');
                    background-size: 100% 100%;
                }
            }
            .product-pic
            {
                display: block;

                width: 167px;
                height: 232px;
                margin: 0 auto;
            }
            .product-name
            {
                font-size: 26px;

                display: block;
                overflow: hidden;

                width: 90%;
                margin: 0 auto;

                white-space: nowrap;
                text-overflow: ellipsis;

                color: #9d6532;
            }
            .product-value
            {
                font-size: 24px;
                line-height: 52px;

                display: block;
                overflow: hidden;

                width: 200px;
                height: 57px;
                margin: 12px auto 0;

                color: #9d6532;
                background-image: url('../../img/market/home/bg-btn-01.png');
                background-size: 100% 100%;
            }
        }
    }

    /*fixed-to-game-button*/
    .fixed-to-game-button
    {
        position: fixed;
        top: 920px;
        left: 15px;

        width: 118px;
        height: 128px;

        background-image: url('../../img/market/home/fixed-go-game-btn.png');
        background-size: 100% 100%;

        index: 90;
    }

    /*bottomRemark*/
    .homepage-bottom-remark
    {
        width: 680px;
        margin: 0 auto;
        padding-top: 42px;

        opacity: 0;
        color: #b0641a;
    }
    .is-most-bottom
    {
        font-size: 20px;
        line-height: 1px;

        text-align: center;

        border-right: 235px solid #b0641a;
        border-left: 235px solid #b0641a;
    }
    .to-top-botton
    {
        line-height: 58px;

        display: block;

        width: 200px;
        height: 60px;
        margin: 40px auto 0;

        text-align: center;

        color: #b0641a;
        border: 1px solid #b0641a;
        border-radius: 30px;
        &:active
        {
            color: #773817;
            background-color: #b0641a;
        }
    }
}
