@import '../lib/lib-variables';

.record-bg
{
    font-family: 'Microsoft Yahei';

    display: flex;
    flex-direction: column;

    height: 100%;

    background: url('../../img/record/record-bg.png') repeat-y center;
    background-size: cover;

    justify-content: space-between;;
}

.record-list
{
    line-height: 1;

    overflow: auto;

    padding: 0 .27rem .5rem;

    background-size: 100%;

    flex: 1;

    .forcast-record-none
    {
        font-size: 32px;
        line-height: 1.5;

        min-height: 100%;

        text-align: center;

        color: #f79d6e;
        .p1
        {
            padding-top: 290px;

            color: #e2d0aa;
        }
        .link
        {
            padding-top: 60px;

            color: #e2d0aa;
        }
        .btn
        {
            color: #fec447;
        }
    }

    .load-more
    {
        font-size: 28px;

        position: relative;

        width: 100%;
        height: 30px;
        margin: 0 0 10px;

        text-align: center;
        &.p1
        {
            padding-top: 40px;

            color: #e2d0aa;
        }
    }
}
.record-block
{
    display: list-item;

    margin-bottom: 20px;
    .record-tt
    {
        font-size: 28px;

        padding: 24px 30px;

        color: #d8c09a;
        .record-maket
        {
            font-size: 28px;

            float: right;

            color: #e97b30;
        }
    }
    .record-wrap
    {
        display: flex;
        flex-direction: column;

        width: 696px;
        padding: .1rem .45rem 0 .45rem;

        border: 70px solid transparent;
        border-image-source: url('../../img/record/wrap_bg.png') ;
        border-image-slice: 77 77 67 77 fill;
        border-image-width: 77px 77px 77px 77px;

        justify-content: center;
        align-items: center;
    }
    .record-item
    {
        width: 600px;
        height: 174px;
        margin-bottom: 20px;
        padding: 24px 35px;

        color: #412c0f;
        background: url('../../img/record/item-bg.png') no-repeat center;
        background-size: 100% 100%;
        .record-date
        {
            font-size: 20px;
        }
        .record-maket
        {
            font-size: 18px;

            float: right;

            color: #e97b30;
        }
        .record-detail
        {
            font-size: 32px;
            line-height: 60px;

            color: #863d1a;
        }
        .record-prize
        {
            float: right;

            padding-left: 65px;

            background: url('../../img/record/gold.png') no-repeat left center;
            background-size: 50px;
        }
        .record-result
        {
            font-size: 24px;
            line-height: 32px;
        }
        .sum-text {
            color: #fff;
            background-color: rgb(229,0,20);
            padding: 0 5px;
            border-radius: 5px;
        }
        .result-way
        {
            padding-left: 41px;
            &.up
            {
                color: rgb(223,88,89);
                background: url('../../img/record/arrow-up.png') no-repeat left center;
                background-size: 26px;
            }
            &.down
            {
                color: #929a10;
                background: url('../../img/record/arrow-down.png') no-repeat left center;
                background-size: 26px;
            }
        }
        .result-text
        {
            float: right;
            &.success
            {
                color: rgb(230,126,48);
            }
        }
    }
}

@import './components/forcastNavBar';
